extends layout

block content
  .container(style='padding-top:80px;')
    h1= title
    .container
      .row
        .col-md-3
          .row(id='BC_StatusOnline', class='display:none;')
            .col-md-6
              img(src='/images/NetworkOnline.gif', alt='Blockchain is Online', class='img-responsive img-rounded')
            .col-md-6
              | Node Status
              br
              | Online
          .row(id='BC_StatusOffline', class='display:none;')
            .col-md-6
              img(src='/images/NetworkOnline.gif', alt='Blockchain is Online', class='img-responsive img-rounded')
            .col-md-6
              | Node Status
              br
              | Offline              
        .col-md-3
          | Content2
        .col-md-3
          | Content3
        .col-md-3
          | Content4

block jsInclude
     script(src='/javascripts/page.status.js')
